/* ? CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ! container */

.container{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}


/* ! main */

#grill{
    width: 500px;
    height: 500px;
    
    display: flex;
    flex-wrap: wrap;
}

.cell{
    cursor: pointer;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
}

.cell.click{
    background-color: lightblue;
}